<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Cooking Recipes</title>
        <link href="{{ url_for('static', filename='recipe.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header id="nav">
            <div id="plus-button">
                <button type="button">
                    <a href="{{ url_for('main.new_recipe')}}">New Recipe</a>
                </button>
            </div>
            <div id="homeHeader">
                <a href="{{ url_for('main.index')}}"><h1>Home</h1></a>
            </div>
            <div>
                {% if current_user.is_authenticated %}
                    <span>
                        <a href="{{ url_for('main.profile', user_id=current_user.id)}}">
                            <img class="profile-photo" src="/static/chef_pfp.jpg">
                        </a>
                    </span>
                    <span>
                        <a href="{{ url_for('auth.logout')}}">
                            <button type="button">Log Out</button>
                        </a>
                    </span>
                {% else %}
                    <a href="{{ url_for('auth.login')}}">
                        <button type="button">Log In</button>
                    </a>
                    <a href="{{ url_for('auth.signup')}}">
                        Don't have an account? Sign up!
                    </a>
                {% endif %}
            </div>
        </header>
        <section class="content">
            {% block content %}{% endblock %}
        </section>
        <footer><small>Developed by George, Jordan, and Gavin for Web Applications</small></footer>
    </body>
</html>
