<div class="recipe-view">
    <div class="recipe-box">
        <div class="recipe-header">
            <a href="{{ url_for('main.profile')}}" class="recipe-user">
                <h3>Creator Username</h3>
            </a>
            <span class="recipe-title">
                <a href="{{ url_for('main.recipe')}}">
                    <h2>Recipe Title</h2>
                </a>
            </span>
            <span id="recipe-rating">
                Recipe Rating Here
            </span>
        </div>

        <div class="recipe-specs">
            <!-- Recipe Specifications like Number of People and Cook Time -->
            <span>Number of People it is for</span>
            <span>Cook Time?</span>
        </div>

        <div id="recipe-details">
            <!-- Recipe Image and Description -->
            <div class="recipe-image">
                <img src="static/testimg.jpg">
            </div>
            <p class="recipe-description">
                Recipe description paragraph goes here
            </p>
        </div>
    
        <!-- Metadata (Hidden) -->
        <div class="metadata"> 
            <span class="author">@username</span>
            <span class="date">timestamp</span>
        </div>
    </div>
</div>
