<div class="recipe-view">
    <div class="recipe-box">
        <div class="recipe-header">
            <a href="{{ url_for('main.profile', user_id=user.id)}}" class="recipe-user">
                <h3> {{ user.name }}</h3>
            </a>
            <span class="recipe-title">
                <a href="{{ url_for('main.recipe', recipe_id=post.id)}}">
                    <h2>Title{{ post.title }}</h2>
                </a>
            </span>
            <span id="recipe-rating">
                Recipe Rating Here (still need to do this)
            </span>
            <!-- BOOKMARKS BUTTON -->
        </div>

        <div class="recipe-specs">
            <!-- Recipe Specifications like Number of People and Cook Time -->
            <span>Servings: {{ post.person_count }}</span>
            <span>Cook Time: {{ post.cooking_time }}</span>
        </div>

        <div id="recipe-details">
            <!-- Recipe Image and Description -->
            <div class="recipe-image">
                <img src="static/testimg.jpg">
            </div>
            <p class="recipe-description">
                Description: {{ post.description }}
            </p>
        </div>
    
        <!-- Metadata (Hidden) -->
        <!-- JINJA NEEDS UPDATING -->
        <div class="metadata"> 
            <span class="author">@username</span>
            <span class="date">timestamp</span>
        </div>
    </div>
</div>
