<div class="recipe-view">
    <header id="recipeHeader">
        <!-- TO IMPLEMENT:
            make title a link to the recipe view
            make the username a link to their profile view  -->
        <span class="recipe-title">
            <a href="{{ url_for('main.recipe', recipe_id=post.id)}}">
                <h2 class="recipe-title">{{ post.title }}</h2>
            </a>
        </span>
        <span>
            <a href="{{ url_for('main.profile', user_id=post.user.id)}}" class="recipe-user">
                <h3>{{ user.name }}</h3>
            </a>
        </span>
        <span id="recipe-rating">
            Recipe Rating Here
        </span>
        <!-- BOOKMARKS BUTTON / TAB, ONLY IF USER IS AUTHORIZED -->
    </header>
    <section class="recipe-specs">
        <span>Serving Size: {{ post.person_count }}</span>
        <span>Cook Time: {{ post.cooking_time }}</span>
    </section>
    <section id="recipe-details">
        <!-- Here, we have an image to the left and a description of the recipe to the right -->
        <div class="recipe-image">
            <img src="static/testimg.jpg">
        </div>
        <p class="recipe-description">
            Description: {{ post.description }}
        </p>
        <p>
            <h3>Ingredients:</h3>
            <ul class="recipe-ingredients">
                {% for quantified_ingredient in post.quantified_ingredients %}
                    <li>{{ quantified_ingredient.quantity }} {{ quantified_ingredient.units }} {{ quantified_ingredient.ingredient.name }}</li>
                {% endfor %}
            </ul>
        </p>
        <p>
            <h3>Steps:</h3>
            <ol class="recipe-steps">
                {% for step in post.steps|sort(attribute='sequence_number') %}
                    <li>{{ step.description }}</li>
                {% endfor %}
            </ol>
        </p>

        <!-- <div class="comments-section">
            <p>My comment here</p>
        </div> -->
    </section>
    
    <!-- "metadata" should be hidden -->
    <!-- JINJA NEEDS UPDATING -->
    <div class="metadata"> 
        <span class="author">@username</span>
        <span class="date">timestamp</span>
    </div>
</div>
