<div class="recipe-view">
    <header id="recipeHeader">
        <!-- TO IMPLEMENT:
            make title a link to the recipe view
            make the username a link to their profile view  -->
            <span class="recipe-user">
                <a href="{{ url_for('main.profile', user_id=post.user.id) }}">
                    <h3>{{ post.user.name }}</h3>
                </a>
            </span>
            <span class="recipe-title">
                <a href="{{ url_for('main.recipe', recipe_id=post.id) }}">
                    <h2>{{ post.title }}</h2>
                </a>
            </span>
        <span id="recipe-rating">
            <div class="rating-section">
                <form action="{{ url_for('main.vote', recipe_id=post.id, vote_type='up') }}" method="post">
                    <button type="submit">
                        <img src="/static/up.png" alt="Upvote">
                    </button>
                </form>
                <span>{{ post.ratings|sum(attribute='value') }}</span>
                <form action="{{ url_for('main.vote', recipe_id=post.id, vote_type='down') }}" method="post">
                    <button type="submit">
                        <img src="/static/down.png" alt="Downvote">
                    </button>
                </form>
            </div>
        </span>
        <!-- BOOKMARKS BUTTON / TAB, ONLY IF USER IS AUTHORIZED -->
        {% if current_user.is_authenticated %}
            {% if bookmark_button == "bookmarked" %}
                <form action="{{ url_for('main.unbookmark', recipe_id=post.id) }}" method="post">
                    <input type="submit" value="Unbookmark">
                </form>
            {% elif bookmark_button == "bookmark" %}
                <form action="{{ url_for('main.bookmark', recipe_id=post.id) }}" method="post">
                    <input type="submit" value="Bookmark">
                </form>
            {% endif %}
        {% else %}
            <a href="{{ url_for('auth.login')}}">
                <button type="button">To Bookmark, Log In</button>
            </a>
            <a href="{{ url_for('auth.signup')}}">
                Don't have an account? Sign up!
            </a>
        {% endif %} 
    </header>

    <section class="recipe-specs">
        <span>Serving Size: {{ post.person_count }}</span>
        <span>Cook Time: {{ post.cooking_time }}</span>
    </section>
    <section id="recipe-details">
        <!-- Here, we have an image to the left and a description of the recipe to the right -->
        <div class="recipe-image">
            {% for photo in post.photos %}
                <img src="{{ url_for('static', filename='photos/photo-' ~ photo.id ~ '.' ~ photo.file_extension) }}" alt="photo">
            {% endfor %}
        </div>
        <!-- form if user is authenticated -->
        {% if current_user.is_authenticated %}
            <form action="{{ url_for('main.add_photo', recipe_id=post.id) }}" method="post" enctype="multipart/form-data">
                <input type="file" name="photo" accept="image/*" required>
                <input type="submit" value="Upload Photo">
            </form>
        {% endif %}
        <p class="recipe-description">
            Description: {{ post.description }}
        </p>
    <!-- JINJA NEEDS UPDATING -->
    <div class="metadata"> 
        <span class="author">{{ post.user.name }}</span>
        <span class="date">{{ post.user.timestamp }}</span>
    </div>
</div>
