/* General Styles
body {
    font-family: 'Times New Roman', serif;
    background-color: #7390ad; 
    color: #1d273a;
    margin: 0;
    padding: 0;
} */

/* Header Bar */
/* header {
    background-color: #1d273a; 
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0; 
    border-bottom: 3px solid #1d273a;
    width: 100%; 
    margin: 0; 
    box-sizing: border-box; 
}

header a {
    color: #101114;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s;
}

header a:hover {
    color: #1d273a; 
} */

/* Base.html Header CSS */
/* #nav {
    background-color: #7390ad;
    padding: 0.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 2em 2em;
}

#nav div {
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    transition: background-color 0.3s ease;
}

#nav div:first-child {
    margin-right: auto;
}

#nav div:last-child {
    margin-left: auto;
}

#nav div:nth-child(2) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} */

/* Home Page Styles */
/* .search-bar, .sort-feature {
    background: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.recipe-list {
    list-style: none;
    padding: 0;
}

.recipe-item {
    background: #3e6abb;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #050504; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.plus-button, .profile-picture {
    cursor: pointer;
    transition: transform 0.3s;
}

.plus-button:hover, .profile-picture:hover {
    transform: scale(1.1);
} */

/* Recipe Box */
/* .recipe-box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
} */

/* Recipe Header */
/* .recipe-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
} */

/* Recipe User */
/* .recipe-user h3 {
    font-size: 1em;
    color: #374254;
    margin: 0;
} */

/* Recipe Title */
/* .recipe-title h2 {
    font-size: 2em;
    color: #1d273a;
    text-align: center;
    margin: 0;
    flex-grow: 1;
} */

/* Recipe Rating */
/* #recipe-rating {
    color: #374254;
    margin: 0;
} */

/* Comment and Metadata Styles */
/* .comments-section {
    margin-top: 20px;
}

.comment-item {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.metadata {
    visibility: hidden;
} */

/* Profile View Styles */
/* .profile-view {
    text-align: center;
    margin: 0px;
}

.profile-photo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #1d273a;
    margin-bottom: 20px;
}

.user-recipes, .bookmarked-recipes {
    list-style: none;
    padding: 0;
} */

/* Responsive Design 
@media (max-width: 768px) {
    .recipe-view {
        flex-direction: column;
    }

    .recipe-box {
        flex-direction: column;
    }
} */
