{% extends 'base.html' %}

{% block content %}
    <!-- TO IMPLEMENT: photo in the upper right should be correct -->
    <header class="profile-header">
        <div class="profile-picture">
            <a href="{{ url_for('main.profile')}}">
                <img class=profile-photo" src="static/testimg.jpg">
            </a>
        </div>
        <div>
            <h2>Bookmarked</h2>
        </div>
        <div>
            <a href="{{ url_for('main.profile')}}">
                <h2>
                    {% if current_user.is_authenticated: %}
                        <div>User: {{current_user.name}}</div>
                    {% endif %}
                </h2>
            </a>
        </div>
    </header>

    <!-- THIS IS ONLY BOOKMARKED RECIPES -->
    {% include 'posts_template.html' %}
{% endblock %}