{% extends 'base.html' %}

{% block content %}
    <!-- TO IMPLEMENT: photo in the upper right should be correct -->
    <header class="profile-view">
        <!-- <div class="profile-photo">
            <img class="profile-photo" src="static/testimg.jpg">
        </div> -->
        <h2>
            {{ user.name }}
        </h2>
        <div>
            <a href="{{ url_for('main.bookmark_page', user_id=user.id)}}">
                <button type="button">Bookmarked Recipes</button>
            </a>
        </div>
    </header>

    <body>
        {% include 'posts_template.html' %}
    </body>

{% endblock %}