{% extends 'base.html' %}

{% block content %}
    <!-- TO IMPLEMENT: photo in the upper right should be correct -->
    <header class="profile-view">
        <div class="profile-photo">
            <!-- CHANGE TO BE PROPER USER IMAGE -->
            <img class="profile-photo" src="static/testimg.jpg">
        </div>
        <h2>
            {{ user.name }}
        </h2>
        <div>
            <!-- IMPLEMENT: link goes to bookmarks view, which is exactly the same as user but with only bookmarked recipes -->
            <a href="{{ url_for('main.bookmark', user_id=user.id)}}">
                <button type="button">Bookmarked Recipes</button>
            </a>
            {% if current_user.is_authenticated %}
            <p>
                <a href="{{ url_for('auth.logout')}}">
                    <button type="button">Log Out</button>
                </a>
            </p>
            {% endif %}
        </div>
    </header>

    <body>
        {% for post in posts %}
            {% include 'profile_template.html' %}
        {% endfor %}
    </body>

{% endblock %}